<%- include('fragments/header') %>
<%- include('fragments/barnav') %>
<section id='hero'>
  <h1>4 RaspberryPi pour<br> une seule faiblesse de frappe</h1>
  <p>ClusterMania vous propose d'utiliser son cluster de RaspberryPi afin de repousser les limites des machines d’il y a 60 ans. Simple et gratuit.</p>
</section>

<section id='promo'>
  <div class='text'>
    <h2>Une puissance digne des pires PC portables</h2>
    <p>Go ahead and say just a little more about what you do.</p>
    <div class='buttons'>
      <button class='primary-btn'>Call to action</button>
      <button class='secondary-btn'>Secondary</button>
    </div>
  </div>
  <img src='Images/Utility/raspberry image.png' alt='Cluster Raspberry Pi'>
</section>

<%- include('fragments/footer') %>

