<%- include('fragments/header') %>
<%- include('fragments/barnav') %>





<div class="form-container">
    <div class="form-box">
        <h1>Connexion</h1>
        <%
        if (typeof error !== 'undefined') {
            if (error === 3) {
                %><div class="error"><p>Tous les champs de ce formulaire sont obligatoires pour procéder à la connexion</p></div><%
            } else if (error === 2) {
                %><div class="error"><p>Aucun utilisateur n'est inscrit à cette adresse, inscrivez-vous avant de vous connecter</p></div><%
            } else if (error === 1) {
                %><div class="error"><p>Mot de passe erroné, réessayez</p></div><%
            } else if (error === 0) {
                %><div class="error"><p>Vous êtes maintenant inscrits, connectez-vous pour accéder à votre compte</p></div><%
            }
        }
        %>
        <form method='POST' action='/login'>
            <label for="email">Email</label>
            <input type="email" id="email" name="email" required />


            <label for="mdp">Mot de passe</label>
            <input type="password"  id="mdp" name="mdp" required />


            <a class="forgot">Mot de passe oublié ?</a>


            <button type="submit" class="primary-btn full" name ='ok'>Se connecter</button>


            <p class="center small">Pas encore inscrit ? <a href="signup">Inscrivez‑vous</a></p>
        </form>
    </div>
</div>

<%- include('fragments/footer') %>
