<%- include('fragments/header') %>
<%- include('fragments/barnav') %>

<%
if (typeof error !== 'undefined') {
    if (error === 'invalid_credentials') {
        %><p>Identifiant ou mot de passe invalide</p><%
    } else if (error === 'empty_fields') {
        %><p>Entrez un identifiant et un mot de passe</p><%
    } else if (error === 'registration_success') {
        %><p>Vous êtes maintenant inscrits, connectez-vous pour accéder à votre compte</p><%
    }
}
%>

<div class="form-container">
    <div class="form-box">
        <h1>Connexion</h1>
        <form method='POST' action='/login'> <!-- à modifier action -->
            <label for="email">Email</label>
            <input type="email" id="email" name="email" required />


            <label for="mdp">Mot de passe</label>
            <input type="password"  id="mdp" name="mdp" required />


            <a class="forgot">Mot de passe oublié ?</a>


            <button type="submit" class="primary-btn full" name ='ok'>Se connecter</button>


            <p class="center small">Pas encore inscrit ? <a href="signup">Inscrivez‑vous</a></p>
        </form>
    </div>
</div>

<%- include('fragments/footer') %>
