<%- include('fragments/header') %>
<%- include('fragments/barnav') %>

<div class='form-container'>
    <div class='form-box'>
        <h1>Déconnexion</h1>
        <p>Vous avez été déconnecté avec succès.</p>
    </div>
</div>

<%- include('fragments/footer') %>