<%- include('fragments/header') %>
<%- include('fragments/barnav') %>


<div class='form-container'>
    <div class='form-box'>
        <h1>Déconnexion</h1>
        <p>Vous avez été déconnecté avec succès.</p>
        <br>
        <a href="/" class="button">Retour à l'accueil</a>
    </div>
</div>

<%- include('fragments/footer') %>