<%- include('fragments/header') %>
<%- include('fragments/barnav') %>

<div class='general-container'>
    <h1>Bienvenue <%= email %></h1>
    <form action='/logout'>
        <button type='submit'>Déconnexion</button></form></div>

<%- include('fragments/footer') %>