<%- include('fragments/header') %>
<%- include('fragments/barnav') %>

<h2>Vous vous êtes perdus ?</h2>
<p>Cette page n'est pas à destination de la visite des clients</p>
<a href="/">Retour à l'accueil</a>


<%- include('fragments/footer') %>
