<%- include('fragments/header') %>
<%- include('fragments/barnav') %>


<div class='form-container'>
    <div class='form-box'>
        <h1>Inscription</h1>

        <%
        if (typeof error !== 'undefined') {
            if (error === 4) {
                %><div class="error"><p>Tous les champs de ce formulaire sont obligatoires pour procéder à l'inscription</p></div><%
            } else if (error === 3) {
                %><div class="error"><p>Les deux mots de passes saisis sont différents, ils doivent être identiques.</p></div><%
            } else if (error === 2) {
                %><div class="error"><p>Un utilisateur est déjà enregistré à cette adresse</p></div><%
            } else if (error === 1) {
                %><div class="error"><p>L'instruction envoyée à la base de données n'a pas abouti, réessayez</p></div><%
            }
        }
        %>
        <form method="POST" action="/signup">

            <label for="email">Email</label>
            <input type="email" id="email" name="email"
                   required />

            <label for="mdp">Mot de passe</label>
            <input type="password" id="mdp" name="mdp" required />

            <label for="re_mdp">Confirmer le mot de passe</label>
            <input type="password" id="re_mdp" name="re_mdp" required />
            <!--
            <label>Entrer le résultat de l'opération
                <input type="text" name="resultat_captcha" required>
            </label>
            -->
            <button type="submit" class="primary-btn full">S'inscrire</button>
        </form>
    </div>


<%- include('fragments/footer') %>