<%- include('fragments/header') %>
<%- include('fragments/barnav') %>




<h1>Tableau de Bord</h1>
<div class="container_tab_bord">

    <aside class="sidebar left">
        <h2>Autres programmes</h2>
        <button id='btn_prog1' onclick="changeTab('div_prog1')" class='tablink'>Nombre premier</button>
        <button id='btn_prog2' onclick="changeTab('div_prog2')" class='tablink'>Pi_Montecarlo</button>
        <button id='btn_prog3' onclick="changeTab('div_prog3')" class='tablink'>Calcul Intégral Simpson</button>
        <button id='btn_scal' onclick="changeTab('scalab')" class='tablink'>Scalabilité</button>
        <button id='btn_justeprix' onclick="changeTab('justeprix')" class='tablink'>Le Juste Prix</button>
    </aside>

    <section class="main">



        <!-- Module Nombre premier -->
        <div id="div_prog1" class="tabcontent">
            <h3>Module Nombre premier</h3>
            <form method="POST" class="form-box">
                <label>Sélection du script :</label>
                <select name="script">
                    <option value="prime">prime.py</option>
                    <option value="prime_improve">prime_improve.py</option>
                    <option value="prime_dynamic_load_balancer">prime_dynamic_load_balancer.py</option>
                    <option value="prime_DLB_improve">prime_DLB_improve.py</option>
                </select>

                <label>Nombre premier :</label>
                <input type="number" name="nb_prim">

                <button type="submit" name="lancer">Lancer</button>
            </form>
        </div>

        <!-- Module Pi Monte Carlo -->
        <div id="div_prog2" class="tabcontent">
            <h3>Module Pi Monte Carlo</h3>
            <form method="POST" class="form-box">
                <label>Sélection du script :</label>
                <select name="script">
                    <option value="MC_MPI_worker_master.py">MonteCarlo MPI Python</option>
                    <option value="Master_worker">MonteCarlo Java</option>
                </select>

                <label>Nombre de points :</label>
                <input type="number" name="nb_pts">

                <button type="submit" name="lancer">Lancer</button>
            </form>
        </div>

        <!-- Module Calcul Intégral Simpson -->
        <div id="div_prog3" class="tabcontent">
            <h3>Module Calcul Intégral Simpson</h3>
            <form method="POST" class="form-box">
                <label>Sélection du script :</label>
                <select name="script">
                    <option value="MasterSimpsonSocket.java">MasterSimpsonSocket.java</option>
                    <option value="WorkerSimpsonSocket.java">WorkerSimpsonSocket.java</option>
                </select>

                <label>Borne A :</label>
                <input type="number" name="a">

                <label>Borne B :</label>
                <input type="number" name="b">

                <label>Nb segments :</label>
                <input type="number" name="n">

                <label>µ :</label>
                <input type="number" name="mu">

                <label>σ :</label>
                <input type="number" name="sigma">

                <button type="submit" name="lancer">Lancer</button>
            </form>
        </div>

        <!-- Module Scalabilité -->
        <div id="scalab" class="tabcontent">
            <form method="POST" class="form-box">

                <label><h3>Sélection du programme</h3></label>
                <select name="script">
                    <option value="prime">prime</option>
                    <option value="prime_improve">prime_improve</option>
                    <option value="prime_DLB">prime_DLB</option>
                    <option value="prime_DLB_improve">prime_DLB_improve</option>
                    <option value="MPI">MC MPI</option>
                    <option value="javaSocket">MC JavaSocket</option>
                    <option value="pythonSocket">MC PythonSocket</option>
                </select>

                <select name="mode_sc">
                    <option value="strong scalab">Scalabilité forte</option>
                    <option value="weak scalab">Scalabilité faible</option>
                </select>

                <input type="hidden" name="scal" value="scal">
                <button type="submit" name="lancer">Lancer</button>
            </form>
            <img src="data:image/png;base64,<?= $img ?>" alt="Graphique">
        </div>

        <! -- Module Le Juste Prix -->
        <div id="justeprix" class="tabcontent">
            <%- include('fragments/justeprix') %>

        </div>
    </section>


</div>

<script>

    function changeTab(tab) {
        var i, tabcontent, tablinks;
        tabcontent = document.getElementsByClassName('tabcontent');
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = 'none';
        }
        tablinks = document.getElementsByClassName('tablink');
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].style.backgroundColor = '';
        }
        document.getElementById(tab).style.display ='block';

    }
    //au chargement de la page après une exécution du formulaire
    changeTab('scalab')
</script>

<%- include('fragments/footer') %>

