</main>
<footer class="blue-night">

    <div id='footer_networks'>
        <a href="https://discord.com/"><img src="Images/Logo/discord_logo.png" alt="Discord link logo" style="width: 40px; height: 40px;"></a>
        <a href="https://x.com/"><img src="Images/Logo/x_twitter_logo.jpg" alt="X/Twitter link logo" style="width: 40px; height: 40px;"></a>
        <a href="https://www.reddit.com"><img src="Images/Logo/reddit_logo.png" alt="Reddit link logo" style="width: 40px; height: 40px;"></a>
        <a href="https://www.instagram.com/"><img src="Images/Logo/instagram_logo.png" alt="Instagram link logo" style="width: 40px; height: 40px;"></a>
    </div>

    <div id="footer_credits">
        <div class="container">
            <p>&copy; 2024-2025 crédits - IUT-Vélizy. Tous droits réservés.</p>
        </div>
    </div>
</footer>
</body>
</html>